<% dealer = User.new %>
<% dealer.add(Book.new("moo", "foo")) %>
<% dealer.add(Book.new("qoo", "doo")) %>

<!-- vLen is used to pluralize card(s) -->
<% vLen = dealer.books.length %>

<%= "Dealer has #{vLen} " %><%= "card".pluralize(vLen)%>
<p> <%= link_to "Home Page", root_path %> </p>